[submodule "ghost/core/content/themes/casper"]
	path = ghost/core/content/themes/casper
	url = ../../TryGhost/Casper.git
	ignore = all
[submodule "ghost/core/content/themes/source"]
	path = ghost/core/content/themes/source
	url = ../../TryGhost/Source.git
	ignore = all
[submodule "ghost/core/content/themes/dentist-clinic"]
	path = ghost/core/content/themes/dentist-clinic
	url = https://github.com/phuongtran-ttp/dentist-clinic-gh-theme
	ignore = all